In [11]:
!python precoss_dataset.py ../data/01_data_processed ../data/01_data_processed

      customer_id           trans_time target
0          862201  2020-07-13 18:05:08      1
1         4271399  2020-07-27 10:25:27      1
2         4284127  2020-08-01 09:15:17      1
3         4237165  2020-07-03 13:05:09      0
4         4091456  2020-06-12 19:05:11      0
...           ...                  ...    ...
12102     4235548  2020-07-17 11:35:05      1
12103     4290699  2020-08-05 21:40:08      1
12104     4281305  2020-07-30 03:20:02      1
12105     4268429  2020-07-21 16:05:05      1
12106     4286398  2020-08-02 16:30:08      1

[12107 rows x 3 columns]
Done!

Using backend: pytorch

In [17]:
import numpy as np
import pandas as pd
import os

In [30]:
directory = '../data/01_data_processed'
users = pd.read_csv(os.path.join(directory,'user.csv'))
users = users[['customer_id','trans_time','target']]
users

       customer_id           trans_time  target
0           862201  2020-07-13 18:05:08       1
1          4271399  2020-07-27 10:25:27       1
2          4284127  2020-08-01 09:15:17       1
3          4237165  2020-07-03 13:05:09       0
4          4091456  2020-06-12 19:05:11       0
...            ...                  ...     ...
12102      4235548  2020-07-17 11:35:05       1
12103      4290699  2020-08-05 21:40:08       1
12104      4281305  2020-07-30 03:20:02       1
12105      4268429  2020-07-21 16:05:05       1
12106      4286398  2020-08-02 16:30:08       1

[12107 rows x 3 columns]

In [31]:
wifi_list = pd.read_csv(os.path.join(directory,'wifi_list_id.csv'))
wifi_list = wifi_list[['customer_id','create_time','wifi_list']]
wifi_list = wifi_list.sort_values(['customer_id','wifi_list','create_time'])
wifi_list = wifi_list.drop_duplicates(['customer_id','wifi_list'])
wifi_list

       customer_id          create_time          wifi_list
25830       107056  2020-09-04 16:44:55  00:67:62:6d:02:e8
38719       107056  2020-09-08 19:46:41  2e:ff:ee:92:a8:03
38720       107056  2020-09-08 19:46:41  74:da:88:38:7f:2a
25826       107056  2020-09-04 16:44:55  80:26:89:58:d9:6b
25823       107056  2020-09-04 16:44:55  90:f6:52:ac:c3:c2
...            ...                  ...                ...
19207      4410632  2020-09-23 05:38:49  e8:65:d4:36:ec:30
19206      4410632  2020-09-23 05:38:49  f0:b4:d2:81:30:e6
19199      4410632  2020-09-23 05:38:49  f4:1d:6b:a5:88:70
19202      4410632  2020-09-23 05:38:49  fc:a6:cd:96:cd:f8
19198      4410632  2020-09-23 05:38:49  fc:a6:cd:96:e5:e0

[58262 rows x 3 columns]

In [32]:
user_wifi_list = pd.merge(users,wifi_list,how='inner',on='customer_id')
user_wifi_list.shape

(15405, 5)