In [24]:
!python precoss_dataset.py ../data/01_data_processed ./data.pkl

Graph(num_nodes={'user': 1970, 'wifi': 15336},
      num_edges={('user', 'relation', 'wifi'): 15405, ('wifi', 'relation-by', 'user'): 15405},
      metagraph=[('user', 'wifi', 'relation'), ('wifi', 'user', 'relation-by')])
Done!

Using backend: pytorch

In [38]:
!python ./model.py ./data.pkl --num-epochs 300 --num-workers 0 --device cpu --hidden-dims 64

{'train-graph': Graph(num_nodes={'user': 1970, 'wifi': 15336},
      num_edges={('user', 'relation', 'wifi'): 15405, ('wifi', 'relation-by', 'user'): 15405},
      metagraph=[('user', 'wifi', 'relation'), ('wifi', 'user', 'relation-by')]), 'train-indices': 1879      True
5509      True
34        True
11620     True
11178     True
         ...
2581     False
12062    False
4732     False
10606    False
5566     False
Name: train_mask, Length: 1970, dtype: bool, 'val-indices': 1879     False
5509     False
34       False
11620    False
11178    False
         ...
2581     False
12062    False
4732     False
10606    False
5566     False
Name: val_mask, Length: 1970, dtype: bool, 'test-indices': 1879     False
5509     False
34       False
11620    False
11178    False
         ...
2581      True
12062     True
4732      True
10606     True
5566      True
Name: test_mask, Length: 1970, dtype: bool, 'item-texts': {}, 'item-images': None, 'user-type': 'user', 'item-type': 'wifi', 'user-to-item-type': 'relation', 'item-to-user-type': 'relation-by', 'timestamp-edge-column': 'create_time'}
{'_ID': tensor([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
        18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]), 'label': tensor([0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 0, 1, 0, 1, 1, 1, 1]), 'h_embedding': tensor([[-0.7812,  0.4265,  0.0280,  ..., -0.5325, -0.5050,  1.0554],
        [ 1.0912, -0.0354, -0.5687,  ...,  0.9016, -1.4689, -0.2687],
        [ 0.1472,  1.4903,  0.0082,  ..., -0.8186,  0.2151, -0.6048],
        ...,
        [ 1.2318, -0.1805, -0.4107,  ..., -0.3803,  0.0040,  0.0403],
        [-0.5336,  0.2126, -0.9137,  ...,  0.1967,  1.4101, -0.4124],
        [ 1.7267, -0.9538, -0.1877,  ...,  0.0907, -0.6384,  1.7833]],
       grad_fn=<IndexBackward>)}
{'_ID': tensor([32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49,
        50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63]), 'label': tensor([1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 0, 1, 1, 1, 0, 1]), 'h_embedding': tensor([[-0.0934, -0.8574,  2.3444,  ..., -0.0973,  0.4910,  1.2588],
        [-0.3517, -0.4331,  1.2758,  ..., -0.3354,  2.0349, -1.0249],
        [-2.5365, -0.1465,  1.0111,  ...,  0.7311,  0.7567,  1.5951],
        ...,
        [ 0.2758,  0.6012, -0.4905,  ...,  1.1881,  0.5302,  0.2424],
        [ 1.4650,  1.5430, -0.1010,  ..., -0.8444, -1.1404, -0.7847],
        [ 0.1810,  0.6025, -0.1472,  ..., -0.8368,  1.3978,  1.2079]],
       grad_fn=<IndexBackward>)}
{'_ID': tensor([64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81,
        82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95]), 'label': tensor([1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 0, 1]), 'h_embedding': tensor([[-1.7892, -0.4752,  0.6891,  ...,  0.6477, -1.0442,  0.0121],
        [ 1.6388, -0.9860,  0.2228,  ...,  1.1117,  0.2381, -0.3074],
        [-0.0523,  1.1552, -0.1298,  ..., -0.0219,  1.4681, -0.7756],
        ...,
        [-0.4703, -0.7330, -0.5590,  ...,  0.5739,  1.0161, -0.4149],
        [ 1.4948,  0.3025, -0.0350,  ...,  1.7998, -2.1022, -0.1824],
        [-0.3145, -2.5411, -0.8035,  ..., -0.4877,  1.9283, -0.4556]],
       grad_fn=<IndexBackward>)}
{'_ID': tensor([ 96,  97,  98,  99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109,
        110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123,
        124, 125, 126, 127]), 'label': tensor([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 0, 1, 1]), 'h_embedding': tensor([[-0.6477, -2.0053,  0.4371,  ..., -1.5033, -0.0520, -0.5427],
        [ 1.1407,  0.3711, -0.2919,  ..., -0.2542,  0.2013,  2.0065],
        [ 0.1681, -0.6335,  0.3352,  ..., -0.0464,  0.4957, -0.5055],
        ...,
        [-0.9213, -0.3736, -0.2192,  ...,  0.7807, -0.4276,  2.7389],
        [-1.4167, -0.7949,  1.8510,  ..., -0.5603, -0.7363, -0.1156],
        [-0.2926,  0.8716, -1.3774,  ..., -0.2363,  1.1266, -0.5328]],
       grad_fn=<IndexBackward>)}
{'_ID': tensor([128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141,
        142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
        156, 157, 158, 159]), 'label': tensor([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1,
        1, 1, 1, 0, 1, 1, 1, 1]), 'h_embedding': tensor([[ 0.1119,  0.7478, -0.2078,  ...,  0.7053, -0.9526, -0.5202],
        [-0.0700,  0.5982, -0.3509,  ...,  0.4894,  0.4543, -1.1093],
        [ 0.7425,  0.0210,  1.1778,  ...,  0.9938,  0.3586,  0.7615],
        ...,
        [-1.9076, -0.3305,  0.5729,  ...,  1.7873, -0.4762, -0.0224],
        [-1.4231,  1.2336, -1.5313,  ..., -1.3407, -0.8994,  2.0034],
        [-0.3990,  0.1700,  0.2383,  ..., -1.2272,  1.0857, -0.0441]],
       grad_fn=<IndexBackward>)}

Using backend: pytorch

  0%|          | 0/5 [00:00<?, ?it/s]
 20%|██        | 1/5 [00:00<00:02,  1.38it/s]
 80%|████████  | 4/5 [00:00<00:00,  1.92it/s]
100%|██████████| 5/5 [00:00<00:00,  5.40it/s]

In [ ]:
import dgl
??dgl.NID

In [13]:
import torch
torch.nn.Module

In [81]:
import numpy as np
import pandas as pd
import os

In [86]:
directory = '../data/01_data_processed'
users = pd.read_csv(os.path.join(directory,'user.csv'))
users = users[['customer_id','trans_time','target']]
users

       customer_id           trans_time  target
0           862201  2020-07-13 18:05:08       1
1          4271399  2020-07-27 10:25:27       1
2          4284127  2020-08-01 09:15:17       1
3          4237165  2020-07-03 13:05:09       0
4          4091456  2020-06-12 19:05:11       0
...            ...                  ...     ...
12102      4235548  2020-07-17 11:35:05       1
12103      4290699  2020-08-05 21:40:08       1
12104      4281305  2020-07-30 03:20:02       1
12105      4268429  2020-07-21 16:05:05       1
12106      4286398  2020-08-02 16:30:08       1

[12107 rows x 3 columns]

In [87]:
users.trans_time.min(),users.trans_time.max()

('2020-06-01 01:00:43', '2020-08-06 21:35:06')

In [88]:
users.target.value_counts().loc[0]/users.shape[0]

0.13603700338647062

In [91]:
wifi_list = pd.read_csv(os.path.join(directory,'wifi_list_id.csv'))
wifi_list = wifi_list[['customer_id','create_time','wifi_list']]
wifi_list = wifi_list.sort_values(['customer_id','wifi_list','create_time'])
wifi_list = wifi_list.drop_duplicates(['customer_id','wifi_list'])
wifi_list = wifi_list.rename(columns={'wifi_list':'wifi_id'})
wifi_list

       customer_id          create_time            wifi_id
25830       107056  2020-09-04 16:44:55  00:67:62:6d:02:e8
38719       107056  2020-09-08 19:46:41  2e:ff:ee:92:a8:03
38720       107056  2020-09-08 19:46:41  74:da:88:38:7f:2a
25826       107056  2020-09-04 16:44:55  80:26:89:58:d9:6b
25823       107056  2020-09-04 16:44:55  90:f6:52:ac:c3:c2
...            ...                  ...                ...
19207      4410632  2020-09-23 05:38:49  e8:65:d4:36:ec:30
19206      4410632  2020-09-23 05:38:49  f0:b4:d2:81:30:e6
19199      4410632  2020-09-23 05:38:49  f4:1d:6b:a5:88:70
19202      4410632  2020-09-23 05:38:49  fc:a6:cd:96:cd:f8
19198      4410632  2020-09-23 05:38:49  fc:a6:cd:96:e5:e0

[58262 rows x 3 columns]

In [92]:
user_wifi_list = pd.merge(users,wifi_list,how='inner',on='customer_id')
user_wifi_list.shape

(15405, 5)

In [93]:
user_wifi_list[user_wifi_list['trans_time']>user_wifi_list['create_time']].shape

(15405, 5)

In [94]:
user_wifi_list

,customer_id,trans_time,target,create_time,wifi_id
0,4202015,2020-06-27 06:35:10,1,2020-06-24 16:22:09,0c:98:38:a9:f0:6d
1,4202015,2020-06-27 06:35:10,1,2020-06-24 16:22:09,0e:a8:a7:5d:ca:34
2,4202015,2020-06-27 06:35:10,1,2020-06-24 16:22:09,74:5b:c5:43:1f:9c
3,4202015,2020-06-27 06:35:10,1,2020-06-24 16:22:09,9a:c8:b8:90:5c:9b
4,4202015,2020-06-27 06:35:10,1,2020-06-24 16:22:09,f0:8c:fb:29:13:f0
...,...,...,...,...,...
15400,4235548,2020-07-17 11:35:05,1,2020-07-03 09:53:07,a0:ab:1b:70:ed:1c
15401,4235548,2020-07-17 11:35:05,1,2020-07-16 12:03:21,b4:e9:b0:9e:95:40
15402,4235548,2020-07-17 11:35:05,1,2020-07-16 12:03:21,b4:e9:b0:9e:95:4e
15403,4235548,2020-07-17 11:35:05,1,2020-07-16 12:03:21,b4:e9:b0:9e:95:4f
15404,4235548,2020-07-17 11:35:05,1,2020-07-03 09:53:07,e4:ca:12:cd:e8:15

In [95]:
distinct_users_in_relation = wifi_list['customer_id'].unique()
distinct_wifi_in_relation = wifi_list['wifi_id'].unique()
users = users[users['customer_id'].isin(distinct_users_in_relation)]
wifi_list = wifi_list[wifi_list['wifi_id'].isin(distinct_wifi_in_relation)]

In [97]:
users.shape

(1970, 3)

In [98]:
users.target.value_counts()

1    1713
0     257
Name: target, dtype: int64

In [99]:
users.target.value_counts().loc[0]/users.shape[0]

0.1304568527918782

In [59]:
wifi_list.shape

(58262, 3)

In [70]:
wifi_list.drop_duplicates('wifi_id').shape

(57620, 3)

In [71]:
wifi_list

       customer_id          create_time            wifi_id
25830       107056  2020-09-04 16:44:55  00:67:62:6d:02:e8
38719       107056  2020-09-08 19:46:41  2e:ff:ee:92:a8:03
38720       107056  2020-09-08 19:46:41  74:da:88:38:7f:2a
25826       107056  2020-09-04 16:44:55  80:26:89:58:d9:6b
25823       107056  2020-09-04 16:44:55  90:f6:52:ac:c3:c2
...            ...                  ...                ...
19207      4410632  2020-09-23 05:38:49  e8:65:d4:36:ec:30
19206      4410632  2020-09-23 05:38:49  f0:b4:d2:81:30:e6
19199      4410632  2020-09-23 05:38:49  f4:1d:6b:a5:88:70
19202      4410632  2020-09-23 05:38:49  fc:a6:cd:96:cd:f8
19198      4410632  2020-09-23 05:38:49  fc:a6:cd:96:e5:e0

[58262 rows x 3 columns]

In [61]:
entities = users['customer_id'].astype('category')
print(entities)
if not (entities.value_counts() == 1).all():
    raise ValueError('Different entity with the same primary key detected.')

6        4202015
16       4291583
22        880193
23       4148588
34       4220955
          ...
12079    4121737
12084    4119054
12088    1315610
12091    4286858
12102    4235548
Name: customer_id, Length: 1970, dtype: category
Categories (1970, int64): [152917, 160937, 173091, 174326, ..., 4291897, 4291937, 4291980, 4291982]

In [69]:
entities = wifi_list['wifi_id'].astype('category')
print(entities)
if not (entities.value_counts() == 1).all():
    raise ValueError('Different entity with the same primary key detected.')

25830    00:67:62:6d:02:e8
38719    2e:ff:ee:92:a8:03
38720    74:da:88:38:7f:2a
25826    80:26:89:58:d9:6b
25823    90:f6:52:ac:c3:c2
               ...
19207    e8:65:d4:36:ec:30
19206    f0:b4:d2:81:30:e6
19199    f4:1d:6b:a5:88:70
19202    fc:a6:cd:96:cd:f8
19198    fc:a6:cd:96:e5:e0
Name: wifi_id, Length: 58262, dtype: category
Categories (57620, object): [00:00:00:00:00:00, 00:01:23:01:4c:d0, 00:01:23:05:7e:08, 00:01:23:05:7f:a0, ..., fe:ec:da:f2:5b:f3, fe:ec:da:f2:5e:9f, fe:ec:da:f2:9f:17, fe:f9:d5:35:d9:5d]

ValueError: Different entity with the same primary key detected.